{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
<form action="#" method="POST" class="form-inline"> {% csrf_token %}
    <div class="form-group">
        {% bootstrap_form form show_label=False class="form-control"%}
    </div>
    {% buttons %}
        <input type="submit" value="submit" class="btn btn-primary btn-block">
    {% endbuttons %}
</form>
<table class="table">
    <tr>
        <th>edge-id</th>
        <th>edge-name</th>
    </tr>
    {% for edge in edges %}
        <tr>
            <td>{{ edge.objectId }}</td>
            <td><a href="/vsm/{{edge.objectId}}">{{ edge.name }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}